body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 100em;
  margin: 0 auto;
  padding: 1em;
}

.btn {
  text-transform: uppercase;
  margin: 0.5em auto;
  padding: 0.5em;
  border: 0.25em solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 1.6em;
  width: 5em;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2em;
}

.margin {
  margin: 2em;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.nav ul {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

.welcome {
  float: left;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-size: 1.7em;
  color: #f2f2f2;
}

.nav li a {
  float: left;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: #f2f2f2;
}

.nav li a.active {
  background-color: #4CAF50;
  color: white;
}

.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 1em;
  text-decoration: none;
}

.avatar {
  height: 1em;
  border-radius: 1em;
  margin: 1em;
}

.question {
  width: 98%;
  max-width: 96em;
  padding: 1em;
  display: flex;
  margin: 1em;
  border: 0.5em solid #dad7d7;
  border-radius: 0.5em;
  cursor: pointer;
}

.login {
  width: 97%;
  padding: 1em;
  display: flex;
  border: 0.5em solid #dad7d7;
  border-radius: 1em;
  cursor: pointer;
  justify-content: center;
}

.login-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-btn {
  text-transform: uppercase;
  margin: 0.1em auto;
  padding: 0.1em;
  border: 0.1em solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 1.4em;
  width: 5em;
  position: relative;
}

.styled-select {
  margin-left: 1em;
  height: 1em;
  overflow: hidden;
  width: 1em;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 1em;
  height: 1em;
  padding: 1em;
  width: 1em;
}

.styled-select.slate {
  height: 2.5em;
  width: 20em;
}

.styled-select.slate select {
  border: 1em solid #ccc;
  font-size: 1.5em;
  height: 3.5em;
  width: 2.5em;
}

.question-info {
  margin: 1.0em;
  display: flex;
  flex-direction: column;
}

.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5em;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 1.6em;
}
.question-info > div > div {
  color: #969696;
  font-size: 1.5em;
}
.question-info > div > p {
  font-size: 1.8em;
  margin: 1.0em 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 1.5em 0 5em;
  font-size: 1.8em !important;
}
.question-icon {
  font-size: 2.7em;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.question-btn {
  text-transform: uppercase;
  margin: 0.5em auto;
  padding: 0.5em;
  border: 0.25em solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 1em;
  width: 10em;
  position: relative;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-question {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 0.5em;
  border: 0.5em solid #dad7d7;
  padding: 0.5em;
  font-size: 1em;
  height: 1em;
}

.question-length {
  text-align: right;
  margin-top: 1.0em;
  font-size: 2.0em;
  color: #C3392A;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4em 1.6em;
  text-decoration: none;
  font-size: 1.7em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}